.paramsForm {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  width: min(90%, 400px);
  padding: 4px;
  margin: auto;

  & div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 4px;
  }
}

@media (width > 320px) {
  .paramsForm {
  
    & div {
      flex-direction: row;
    }
  }
}